<style>
  
  .navbar-collapse{
    color: white;
  }
 
</style>
<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-success navbar-inverse">
  <div class="container-fluid bg-warning">
    <a class="navbar-brand" href="#">BTS ONLINE AUCTION</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavDropdown">
      
      <ul class="navbar-nav">
       
        <li class="nav-item">
          <a class="nav-link active "  routerLink="sreg">SellerRegistration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="creg">CustomerRegistration</a>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              SellerServices
          </a>
          <ul class="dropdown-menu">
              <li><a class="dropdown-item color:text-white"  routerLink="sreg">SellerRegistration</a></li>
              <li><a class="dropdown-item color:text-white" routerLink="soperations/:id">SellerOperations</a></li>
              <li><a class="dropdown-item color:text-white"  routerLink="slist">ListOfSellers</a></li>
          </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle color:text-white" href="#" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            CustomerServices
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item color:text-white"  routerLink="creg">CustomerRegistration</a></li>
            <li><a class="dropdown-item color:text-white" routerLink="coperations/:id">CustomerOperations</a></li>
            <li><a class="dropdown-item color:text-white"  routerLink="clist">ListOfCustomers</a></li>
              <li><a class="dropdown-item color:text-white"  routerLink="/blist">ListOfBids</a></li>
        </ul>
    </li>
      </ul>
     
    </div>
  </div>
</nav>
<router-outlet></router-outlet>