
<style>
    .bla{
      margin-top:100px;
      margin-left:200px;
      background-color: brown;
  
    }
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  .column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  p{
      -webkit-text-fill-color:brown ;
  }
  
  
  
  
  
  
  
  
  </style>
        
  
  <br>
  <br>
    <div class="column">
      <div class="card">
        <div class="row">
          <div class="column">
            <img src="assets\images.jpg" alt="Snow" style="width:100%">
          </div>
          <div class="column">
            <img src="assets\download (3).jpg" alt="Forest" style="width:100%">
          </div>
          <div class="column">
            <img src="assets\download (5).jpg" alt="Mountains" style="width:100%">
          </div>
        </div>
        <div class="row">
          <div class="column">
            <img src="assets\download (6).jpg" alt="Snow" style="width:100%">
          </div>
          <div class="column">
            <img src="assets\seller-woman-farm-products-market-facade-vector-26569500.jpg" alt="Forest" style="width:100%">
          </div>
          <div class="column">
            <img src="assets\images.png" alt="Mountains" style="width:100%">
          </div>
        </div>
       
      </div>
    </div>
    <div class="column bla">
      <div class="card">
          <p>This is the best Online Auction availaible in the market!
              Come one!Come All!
              Come Sellers! Come Buyers!</p>
  
          
  